/*CUSTOM STYLESHEET*/

body {
  font-family: serif;
}

.navbar {
  background-color: #000000;
  border-color: #000000;
}

.jumbotron {
  background-image: url("../img/image.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 8%;
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 10%;
}

#text {
  background: rgba(0,0,0,0.85);
  color: #FFFFFF;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 30px;
}

h1 {
  padding-bottom: 25px;
}

.result-text {
  text-align: center;
}

h3 {
  font-size: 18pt;
}

h5, ul {
  font-size: 12pt;
}

form {
  padding-top: 30px;
}

#number-input {
  color: #000000;
}

#submit-btn, #reset-btn {
  margin-top: 10px;
  font-size: 15pt;
  background-color: #990066;
  border-color: #990066;
  color: #FFFFFF;
}

#reset-btn {
  margin-left: 38%;
  margin-top: 50px;
}


#result, #pingpong-result {
  display: none;
}

#pingpong-result {
  width: 100%;
  word-wrap: break-word;
  font-size: 15pt;
}


#footer {
  padding-right: 25px;
}